body {
	-webkit-font-smoothing: antialiased;
	color: #434343;
	background: #efefef;
}


.navbar{
	z-index: 100;
}

.navbar li a{
	color: #eee;
}

.nav>li>a:focus, .nav>li>a:hover{
	background: none;
	color: #fff;
}

.main-container{
	margin-top: 330px;
	padding-top: 60px;
	max-width: 840px;
}

form input, form button{
	margin-top: 10px;
}


.header-title{
	position: absolute;
	left: 0;
	top: 0;
	height: 400px;
	width: 100%;
	display: table;
	background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);

}

.header-title-wrapper{
	display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
	color: #fff;
}


.post{
	padding: 50px 80px;
	margin-bottom: 30px;
	background-color: #fff;
	box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


.post .meta{
	color: rgba(187,187,187,0.8);
}

.post h2.title{
	margin-bottom: 20px;
}

.post h2.title a{
	color: #555;
	text-decoration: none;
}

.post h2.title a:hover, .post h2.title a:focus{
	color: #333;
}

.footer{
	text-align: center;
	margin-bottom: 50px;
}
