.posts
  for post in posts
    .row.post 
      .col-sm-12
        .meta 
          .time #{post.getCreatedAt()}
        h2.title 
          a(href="#{basePath}/posts/#{post.getId()}")
            = post.getTitle()
        
        .content 
          !{post.getRenderedContent()}
        
        hr
