extends ../layout/app 

block title 
  = viewHelper.metaTitle(post.getTitle())
  
block page_title
  h1 #{post.getTitle()}
  p #{viewHelper.getFormattedDate(post.getCreatedAt())}

block content 
  .post
    .content 
      !{post.getRenderedContent()}
    
    .comments 
      include ../fragments/disqus
