extends ../layout/app 

block title 
  = post.getTitle()
  |  · Raysmond
  
block page_title
  h1 #{post.getTitle()}
  p #{viewHelper.getFormattedDate(post.getCreatedAt())}

block content 
  .post
    .content 
      !{post.getRenderedContent()}
    
