nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
    a.navbar-brand.col-sm-3.col-md-2.mr-0(href="/") SpringBlog
    input.form-control.form-control-dark.w-100(placeholder="Search")
    ul.navbar-nav.px-3
        li.nav-item.text-nowrap
            a.nav-link(href="javascript:$('#form').submit();") Logout
                form#form(style="visibility: hidden", method="post", action="/logout")
                    input(type="hidden", name='_csrf', value='#{_csrf.token}')
