.container
  .footer
    .footer-wrapper
      hr
      p 
        | &copy; · Written by 
        a(href="http://raysmond.com") Raysmond
        |  · All Right Reserved.
      if viewHelper != null
        p Page: #{viewHelper.getResponseTime()}ms
       
