<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">
    <div class="p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center ">
                <h5 class="my-0 mr-md-auto font-weight-normal">Raysmond</h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="/">Home</a>
                    <a class="p-2 text-dark" href="/posts/archive">Archive</a>
                    <a class="p-2 text-dark" href="/tags">Tags</a>
                    <a class="p-2 text-dark" href="#">About</a>
                </nav>
                <a sec:authorize="isAuthenticated()" class="btn btn-outline-primary" href="/admin/posts">Admin</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
