nav.navbar.navbar-bright
  .container
    .navbar-header
    div#navbar
      ul.nav.navbar-nav
        li.active
          a(href="/") Home
        li: a(href="/posts/archive") Archive
        li: a(href="/about") About
    
