extends ../layout/app

block title
  | Tags

block page_title
  h1 Tags

block content
  .post
    .content
      ul.tags
        for tag in tags
          li: a.btn.btn-default(href="/tags/#{tag[0]}") #{tag[0]}(#{tag[1]})
