extends ../layout/app 

block page_title
  h1 Posts Archive
  p Look back and find something interesting.
  
block title
  = viewHelper.metaTitle("Posts Archive")

block content 
  .post 
    .content
      .year
        h2 2015
        ul.archive-list
          for post in posts 
            if post.getCreatedAt().getYear() == (2015 - 1900)
              li
                span.month 
                  = viewHelper.getMonthAndDay(post.getCreatedAt())
                span &nbsp;&nbsp;·&nbsp; 
                a(href="/posts/#{post.getPermalink() == null ? post.getId() : post.getPermalink()}") 
                  = post.getTitle()
        
