!!! 5
html(lang="en")
  head
    include head 
    block head 
    
  body
    include navbar 
    
    include top
                
    .container.main-container
      block content

    include footer
    include ../fragments/ga
