.container
  .footer
    .footer-wrapper
      hr
      p Copyright &copy; · 2015 #{App.getSiteName()} · All Right Reserved.
      if viewHelper != null
        p Page: #{viewHelper.getResponseTime()}ms
       
