nav.navbar.navbar-bright
  .container
    .navbar-header
    div#navbar
      ul.nav.navbar-nav
        li.active
          a(href="#{basePath}/") Home
        li: a(href="#{basePath}/posts/archive") Archive
        li: a(href="#{basePath}/about") About
    
