extends ../layout/app

block page_title
  h1 Admin Signin 

block content
  .row
    .col-md-4.col-md-offset-4.login-container
      .login-panel
        form.signin-form(method="post",action="/authenticate")
          input(type="hidden", name='_csrf', value='#{_csrf.token}')
          input.form-control(type="text",name="username",placeholder="Email")
          input.form-control(type="password",name="password",placeholder="Password")
          button.btn.btn-primary.btn-block(type="submit") Login
  
