extends ../layout/app 

block title 
  | Error 
  = statusCode

block page_title  
  if statusCode != null
    h1 #{statusCode} #{exceptionMessage}
  else
    h1 Error
  
  if requestUri != null
    p Request page: #{requestUri}
    
  p #{message}
