extends ../layout/app 

block page_title 
  h1 #{App.getSiteName()} 
  p Something about me.

block title 
  = viewHelper.metaTitle("About " + App.getSiteName())

block content 
  .post 
    .content 
      !{about.getRenderedContent()}

    .comments
      include ../fragments/disqus
